<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>新主页</title>
    <style type="text/css">img.wp-smiley,img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 .07em!important;vertical-align:-0.1em!important;background:none!important;padding:0!important}</style>
    <style id="megamenu-wp-inline-css" type="text/css">.megamenu-wp-desktop #megamenu-wp-page .megamenu-wp .mega-item .mega-content li.mega-content-li{margin-top:0}</style>
    <link rel="stylesheet" type="text/css" href="css/new/theme.css" />
    <link rel="stylesheet" type="text/css" href="css/new/blog.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.classycountdown.css" />
</head>
<body class="home blog hfeed right-layout infinite-scroll megamenu-wp-mobile">
    <div id="page" class="site"><a class="skip-link screen-reader-text" href="#main">Skip to content</a>
        <header id="masthead" class="site-header" role="banner">
            <div class="site-topbar">
                <div class="container">
                    <nav id="site-navigation" class="main-navigation" role="navigation">
                        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
                        <div class="menu-primary-container">
                            <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                                <li id="menu-item-15"
                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-15">
                                    <a href="javascript:void(0);">Home</a></li>
                                <li id="menu-item-17"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-17"><a
                                        href="javascript:void(0);">Life</a></li>
                                <li id="menu-item-16"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16"><a
                                        href="javascript:void(0);">Letter</a>
                                </li>
                                <li id="menu-item-31"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a
                                        href="javascript:void(0);">About</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!--<div class="topbar-search">-->
                        <!--<form action="https://demos.famethemes.com/boston/" method="get"><input type="text" name="s"-->
                                                                                                <!--id="search" value=""-->
                                                                                                <!--placeholder="Search and hit enter...">-->
                            <!--<span class="genericon genericon-search"></span></form>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="site-branding">
                <div class="container"><h1 class="site-title"><a  rel="home">staring you</a>
                </h1>
                    <p class="site-description">Love is beautiful</p></div>
            </div>
        </header>
        <div id="featured-content">
            <div class="site-featured-content">
                <div class="featured_posts owl-carousel owl-theme" style="opacity: 0;">
                    <article id="post-36"
                             class="post-36 post type-post status-publish format-standard has-post-thumbnail hentry category-culture category-lifestyle category-travel">
                        <aside class="entry-thumbnail"><a
                                href="javascript:void(0);"
                                title="Inspiration from the Pre-Fall Collection"> <img width="500" height="350"
                                                                                       src="img/lun/1.jpg"
                                                                                       class="attachment-boston-featured-medium size-boston-featured-medium wp-post-image"
                                                                                       alt=""> </a></aside>
                        <header class="entry-header">
                            <h2 class="entry-title"><a
                                    href="javascript:void(0);"
                                    rel="bookmark">Beautiful eyes</a></h2></header>
                    </article>
                    <article id="post-27"
                             class="post-27 post type-post status-publish format-standard has-post-thumbnail hentry category-culture category-lifestyle category-travel">
                        <aside class="entry-thumbnail"><a
                                href="javascript:void(0);"
                                title="Get The Look: Trip to the Maldives"> <img width="500" height="350"
                                                                                 src="img/lun/2.jpg"
                                                                                 class="attachment-boston-featured-medium size-boston-featured-medium wp-post-image"
                                                                                 alt=""> </a></aside>
                        <header class="entry-header">
                            <h2 class="entry-title"><a
                                    href="javascript:void(0);"
                                    rel="bookmark">Star sky</a></h2></header>
                    </article>
                    <article id="post-23"
                             class="post-23 post type-post status-publish format-standard has-post-thumbnail hentry category-culture category-food category-lifestyle category-travel">
                        <aside class="entry-thumbnail"><a
                                href="javascript:void(0);"
                                title="Markup: HTML Tags &amp; Formatting"> <img width="500" height="350"
                                                                                 src="img/lun/3.jpg"
                                                                                 class="attachment-boston-featured-medium size-boston-featured-medium wp-post-image"
                                                                                 alt=""> </a></aside>
                        <header class="entry-header">
                            <h2 class="entry-title"><a
                                    href="javascript:void(0);"
                                    rel="bookmark">Beautiful back</a></h2></header>
                    </article>
                    <article id="post-39"
                             class="post-38 post type-post status-publish format-standard has-post-thumbnail hentry category-culture category-lifestyle category-travel">
                        <aside class="entry-thumbnail"><a
                                href="javascript:void(0);"
                                title="Men’s Cars: Pierre &amp; His Saab"> <img width="500" height="350"
                                                                                src="img/lun/5.jpg"
                                                                                class="attachment-boston-featured-medium size-boston-featured-medium wp-post-image"
                                                                                alt=""> </a></aside>
                        <header class="entry-header">
                            <h2 class="entry-title"><a
                                    href="javascript:void(0);"
                                    rel="bookmark">Jingle cat for you</a></h2></header>
                    </article>
                </div>
                <div class="spinner">
                    <div class="uil-squares-css" style="transform:scale(0.4);">
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="site-content">
            <div class="container">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">
                        <div class="archive__layout1">
                            <article id="post-25"
                                     class="post-25 post type-post status-publish format-standard has-post-thumbnail hentry category-culture category-lifestyle category-travel">
                                <header class="entry-header" style="text-align: center;">
                                    <h1 class="entry-title">staring time</h1>
                                </header>
                                <div class="entry-summary">
                                    <div id="countdown11" class="ClassyCountdownDemo" style="margin:0 auto 30px auto; max-width:800px; width:calc(100%); padding:30px; display:block"></div>
                                </div>
                            </article>
                            <!--<article id="post-21"-->
                                     <!--class="post-21 post type-post status-publish format-standard has-post-thumbnail hentry category-culture category-food category-lifestyle category-travel">-->
                                <!--<header class="entry-header"><h2 class="entry-title"><a-->
                                        <!--href="https://demos.famethemes.com/boston/things-i-love-about-italy-right-now/"-->
                                        <!--rel="bookmark"><b>Things I Love</b> About Italy Right Now</a></h2>-->
                                    <!--<div class="entry-meta"><span class="entry-cate"><a class="entry-category"-->
                                                                                        <!--href="https://demos.famethemes.com/boston/category/culture/">Culture</a></span><span-->
                                            <!--class="author vcard"><a class="url fn n"-->
                                                                    <!--href="https://demos.famethemes.com/boston/author/famedemo/">FameThemes</a></span><span-->
                                            <!--class="entry-date"><time class="entry-date published"-->
                                                                     <!--datetime="2016-08-16T03:40:04+00:00">August 16, 2016</time></span><span-->
                                            <!--class="comments-link"><i class="genericon genericon-comment"></i><a-->
                                            <!--href="https://demos.famethemes.com/boston/things-i-love-about-italy-right-now/#respond">0</a></span>-->
                                    <!--</div>-->
                                <!--</header>-->
                                <!--<aside class="entry-thumbnail"><a-->
                                        <!--href="https://demos.famethemes.com/boston/things-i-love-about-italy-right-now/"-->
                                        <!--title="Things I Love About Italy Right Now"><img width="732" height="380"-->
                                                                                         <!--src="https://demos.famethemes.com/boston/wp-content/uploads/sites/23/2016/08/pexels-photo-113752-732x380.jpeg"-->
                                                                                         <!--class="attachment-boston-list-medium size-boston-list-medium wp-post-image"-->
                                                                                         <!--alt=""></a></aside>-->
                                <!--<div class="entry-summary"><p>Cheer egestas, ante et vulputate volutpat, eros pede-->
                                    <!--semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus-->
                                    <!--adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit-->
                                    <!--tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis,-->
                                    <!--mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede…</p></div>-->
                                <!--<div class="entry-more"><a-->
                                        <!--href="https://demos.famethemes.com/boston/things-i-love-about-italy-right-now/"-->
                                        <!--title="Things I Love About Italy Right Now">Continue Reading</a></div>-->
                                <!--<footer class="entry-footer"></footer>-->
                            <!--</article>-->
                            <!--<article id="post-13"-->
                                     <!--class="post-13 post type-post status-publish format-standard has-post-thumbnail hentry category-culture category-lifestyle">-->
                                <!--<header class="entry-header"><h2 class="entry-title"><a-->
                                        <!--href="https://demos.famethemes.com/boston/organic-sustainable-nutrition/"-->
                                        <!--rel="bookmark">Organic &amp; Sustainable Nutrition</a></h2>-->
                                    <!--<div class="entry-meta"><span class="entry-cate"><a class="entry-category"-->
                                                                                        <!--href="https://demos.famethemes.com/boston/category/culture/">Culture</a></span><span-->
                                            <!--class="author vcard"><a class="url fn n"-->
                                                                    <!--href="https://demos.famethemes.com/boston/author/famedemo/">FameThemes</a></span><span-->
                                            <!--class="entry-date"><time class="entry-date published"-->
                                                                     <!--datetime="2016-08-16T03:30:32+00:00">August 16, 2016</time></span><span-->
                                            <!--class="comments-link"><i class="genericon genericon-comment"></i><a-->
                                            <!--href="https://demos.famethemes.com/boston/organic-sustainable-nutrition/#respond">0</a></span>-->
                                    <!--</div>-->
                                <!--</header>-->
                                <!--<aside class="entry-thumbnail"><a-->
                                        <!--href="https://demos.famethemes.com/boston/organic-sustainable-nutrition/"-->
                                        <!--title="Organic &amp; Sustainable Nutrition"><img width="732" height="380"-->
                                                                                         <!--src="https://demos.famethemes.com/boston/wp-content/uploads/sites/23/2016/08/food-kitchen-cutting-board-cooking-732x380.jpg"-->
                                                                                         <!--class="attachment-boston-list-medium size-boston-list-medium wp-post-image"-->
                                                                                         <!--alt=""></a></aside>-->
                                <!--<div class="entry-summary"><p>Muh sed egestas, ante et vulputate volutpat, eros pede-->
                                    <!--semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus-->
                                    <!--adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit-->
                                    <!--tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis,-->
                                    <!--mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus…</p></div>-->
                                <!--<div class="entry-more"><a-->
                                        <!--href="https://demos.famethemes.com/boston/organic-sustainable-nutrition/"-->
                                        <!--title="Organic &amp; Sustainable Nutrition">Continue Reading</a></div>-->
                                <!--<footer class="entry-footer"></footer>-->
                            <!--</article>-->
                            <!--<article id="post-11"-->
                                     <!--class="post-11 post type-post status-publish format-standard has-post-thumbnail hentry category-food">-->
                                <!--<header class="entry-header"><h2 class="entry-title"><a-->
                                        <!--href="https://demos.famethemes.com/boston/happiness-is-only-real-when-share-care/"-->
                                        <!--rel="bookmark"><b>Happiness</b> is only real when <i>share &amp; care</i></a>-->
                                <!--</h2>-->
                                    <!--<div class="entry-meta"><span class="entry-cate"><a class="entry-category"-->
                                                                                        <!--href="https://demos.famethemes.com/boston/category/food/">Food</a></span><span-->
                                            <!--class="author vcard"><a class="url fn n"-->
                                                                    <!--href="https://demos.famethemes.com/boston/author/famedemo/">FameThemes</a></span><span-->
                                            <!--class="entry-date"><time class="entry-date published"-->
                                                                     <!--datetime="2016-08-16T03:21:25+00:00">August 16, 2016</time></span><span-->
                                            <!--class="comments-link"><i class="genericon genericon-comment"></i><a-->
                                            <!--href="https://demos.famethemes.com/boston/happiness-is-only-real-when-share-care/#respond">0</a></span>-->
                                    <!--</div>-->
                                <!--</header>-->
                                <!--<aside class="entry-thumbnail"><a-->
                                        <!--href="https://demos.famethemes.com/boston/happiness-is-only-real-when-share-care/"-->
                                        <!--title="Happiness is only real when share &amp; care"><img width="732"-->
                                                                                                  <!--height="380"-->
                                                                                                  <!--src="https://demos.famethemes.com/boston/wp-content/uploads/sites/23/2016/08/pexels-photo-25410-732x380.jpg"-->
                                                                                                  <!--class="attachment-boston-list-medium size-boston-list-medium wp-post-image"-->
                                                                                                  <!--alt=""></a></aside>-->
                                <!--<div class="entry-summary"><p>Morbi interdum mollis sapien. Sed ac risus. Phasellus-->
                                    <!--lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis-->
                                    <!--libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius,-->
                                    <!--adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris-->
                                    <!--ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo.-->
                                    <!--Integer…</p></div>-->
                                <!--<div class="entry-more"><a-->
                                        <!--href="https://demos.famethemes.com/boston/happiness-is-only-real-when-share-care/"-->
                                        <!--title="Happiness is only real when share &amp; care">Continue Reading</a></div>-->
                                <!--<footer class="entry-footer"></footer>-->
                            <!--</article>-->
                        </div>
                        <!--<nav class="navigation posts-navigation" role="navigation"><h2 class="screen-reader-text">Posts-->
                            <!--navigation</h2>-->
                            <!--<div class="nav-links">-->
                                <!--<div class="nav-previous"><a href="https://demos.famethemes.com/boston/page/2/">Older-->
                                    <!--posts</a></div>-->
                            <!--</div>-->
                        <!--</nav>-->
                    </main>
                </div>
                <!--<aside id="secondary" class="sidebar widget-area" role="complementary">-->
                    <!--<section id="text-2" class="widget widget_text">-->
                        <!--<div class="widget-title">About me</div>-->
                        <!--<div class="textwidget">-->
                            <!--<div class="about-me"><img-->
                                    <!--src="https://demos.famethemes.com/boston/wp-content/uploads/sites/23/2016/08/profile.jpg"-->
                                    <!--alt=""> <span>Victoria Stephens</span>-->
                                <!--<p>Share biographical information to fill out your profile. This may be shown-->
                                    <!--publicly.</p></div>-->
                        <!--</div>-->
                    <!--</section>-->
                    <!--<section id="categories-2" class="widget widget_categories">-->
                        <!--<div class="widget-title">Categories</div>-->
                        <!--<ul>-->
                            <!--<li class="cat-item cat-item-4"><a-->
                                    <!--href="https://demos.famethemes.com/boston/category/culture/">Culture</a></li>-->
                            <!--<li class="cat-item cat-item-5"><a-->
                                    <!--href="https://demos.famethemes.com/boston/category/food/">Food</a></li>-->
                            <!--<li class="cat-item cat-item-2"><a-->
                                    <!--href="https://demos.famethemes.com/boston/category/lifestyle/">Lifestyle</a></li>-->
                            <!--<li class="cat-item cat-item-3"><a-->
                                    <!--href="https://demos.famethemes.com/boston/category/travel/">Travel</a></li>-->
                        <!--</ul>-->
                    <!--</section>-->
                    <!--<section id="recent-posts-2" class="widget widget_recent_entries">-->
                        <!--<div class="widget-title">Recent Posts</div>-->
                        <!--<ul>-->
                            <!--<li><a href="https://demos.famethemes.com/boston/inspiration-from-the-pre-fall-collection/">Inspiration-->
                                <!--from the <b>Pre-Fall Collection</b></a></li>-->
                            <!--<li><a href="https://demos.famethemes.com/boston/get-the-look-trip-to-the-maldives/"><b>Get-->
                                <!--The Look:</b> Trip to the Maldives</a></li>-->
                            <!--<li>-->
                                <!--<a href="https://demos.famethemes.com/boston/paris-hilton-wedding-shoot-at-singapore/"><b>Paris-->
                                    <!--Hilton:</b> Wedding Shoot at Singapore</a></li>-->
                            <!--<li>-->
                                <!--<a href="https://demos.famethemes.com/boston/markup-html-tags-formatting/"><b>Markup:</b>-->
                                    <!--HTML Tags &amp; Formatting</a></li>-->
                            <!--<li><a href="https://demos.famethemes.com/boston/things-i-love-about-italy-right-now/"><b>Things-->
                                <!--I Love</b> About Italy Right Now</a></li>-->
                        <!--</ul>-->
                    <!--</section>-->
                    <!--<section id="calendar-2" class="widget widget_calendar">-->
                        <!--<div class="widget-title">Calendar</div>-->
                        <!--<div id="calendar_wrap" class="calendar_wrap">-->
                            <!--<table id="wp-calendar">-->
                                <!--<caption>May 2020</caption>-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th scope="col" title="Monday">M</th>-->
                                    <!--<th scope="col" title="Tuesday">T</th>-->
                                    <!--<th scope="col" title="Wednesday">W</th>-->
                                    <!--<th scope="col" title="Thursday">T</th>-->
                                    <!--<th scope="col" title="Friday">F</th>-->
                                    <!--<th scope="col" title="Saturday">S</th>-->
                                    <!--<th scope="col" title="Sunday">S</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tfoot>-->
                                <!--<tr>-->
                                    <!--<td colspan="3" id="prev"><a href="https://demos.famethemes.com/boston/2016/08/">«-->
                                        <!--Aug</a></td>-->
                                    <!--<td class="pad">&nbsp;</td>-->
                                    <!--<td colspan="3" id="next" class="pad">&nbsp;</td>-->
                                <!--</tr>-->
                                <!--</tfoot>-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td colspan="4" class="pad">&nbsp;</td>-->
                                    <!--<td>1</td>-->
                                    <!--<td>2</td>-->
                                    <!--<td>3</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>4</td>-->
                                    <!--<td>5</td>-->
                                    <!--<td>6</td>-->
                                    <!--<td>7</td>-->
                                    <!--<td>8</td>-->
                                    <!--<td>9</td>-->
                                    <!--<td>10</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>11</td>-->
                                    <!--<td>12</td>-->
                                    <!--<td>13</td>-->
                                    <!--<td>14</td>-->
                                    <!--<td>15</td>-->
                                    <!--<td>16</td>-->
                                    <!--<td>17</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>18</td>-->
                                    <!--<td>19</td>-->
                                    <!--<td>20</td>-->
                                    <!--<td id="today">21</td>-->
                                    <!--<td>22</td>-->
                                    <!--<td>23</td>-->
                                    <!--<td>24</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>25</td>-->
                                    <!--<td>26</td>-->
                                    <!--<td>27</td>-->
                                    <!--<td>28</td>-->
                                    <!--<td>29</td>-->
                                    <!--<td>30</td>-->
                                    <!--<td>31</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</section>-->
                    <!--<section id="search-2" class="widget widget_search">-->
                        <!--<form role="search" method="get" class="search-form"-->
                              <!--action="https://demos.famethemes.com/boston/"><label> <span class="screen-reader-text">Search for:</span>-->
                            <!--<input type="search" class="search-field" placeholder="Search …" value="" name="s"> </label>-->
                            <!--<input type="submit" class="search-submit" value="Search"></form>-->
                    <!--</section>-->
                    <!--<section id="archives-3" class="widget widget_archive">-->
                        <!--<div class="widget-title">Archives</div>-->
                        <!--<ul>-->
                            <!--<li><a href="https://demos.famethemes.com/boston/2016/08/">August 2016</a></li>-->
                        <!--</ul>-->
                    <!--</section>-->
                <!--</aside>-->
            </div>
        </div>
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="container">
                <div class="site-info"><p> Copyright © 2020 wei. All Rights Reserved.</p></div>
                <div class="theme-info"><span class="theme-info-text"><a
                        href="http://beian.miit.gov.cn">蜀ICP备20012306号</a> </span></div>
            </div>
        </footer>
    </div>
</body>
</html>
<script type="text/javascript">
var infiniteScroll = {
    "settings": {
        "id": "main",
        "ajaxurl": "http:\/\/demos.famethemes.com\/boston\/?infinity=scrolling",
        "type": "click",
        "wrapper": true,
        "wrapper_class": "infinite-wrap",
        "footer": "page",
        "click_handle": "1",
        "text": "Older posts",
        "totop": "Scroll back to top",
        "currentday": "16.08.16",
        "order": "DESC",
        "scripts": [],
        "styles": [],
        "google_analytics": false,
        "offset": 1,
        "history": {
            "host": "demos.famethemes.com\/boston",
            "path": "\/page\/%d\/",
            "use_trailing_slashes": true,
            "parameters": ""
        },
        "query_args": {
            "error": "",
            "m": "",
            "p": 0,
            "post_parent": "",
            "subpost": "",
            "subpost_id": "",
            "attachment": "",
            "attachment_id": 0,
            "name": "",
            "pagename": "",
            "page_id": 0,
            "second": "",
            "minute": "",
            "hour": "",
            "day": 0,
            "monthnum": 0,
            "year": 0,
            "w": 0,
            "category_name": "",
            "tag": "",
            "cat": "",
            "tag_id": "",
            "author": "",
            "author_name": "",
            "feed": "",
            "tb": "",
            "paged": 0,
            "meta_key": "",
            "meta_value": "",
            "preview": "",
            "s": "",
            "sentence": "",
            "title": "",
            "fields": "",
            "menu_order": "",
            "embed": "",
            "category__in": [],
            "category__not_in": [],
            "category__and": [],
            "post__in": [],
            "post__not_in": [36, 27, 23, 38],
            "post_name__in": [],
            "tag__in": [],
            "tag__not_in": [],
            "tag__and": [],
            "tag_slug__in": [],
            "tag_slug__and": [],
            "post_parent__in": [],
            "post_parent__not_in": [],
            "author__in": [],
            "author__not_in": [],
            "posts_per_page": 4,
            "ignore_sticky_posts": false,
            "suppress_filters": false,
            "cache_results": true,
            "update_post_term_cache": true,
            "lazy_load_term_meta": true,
            "update_post_meta_cache": true,
            "post_type": "",
            "nopaging": false,
            "comments_per_page": "50",
            "no_found_rows": false,
            "order": "DESC"
        },
        "query_before": "2020-05-21 06:55:08",
        "last_post_date": "2016-08-16 03:21:25",
        "body_class": "infinite-scroll"
    }
}
</script>
<script src="js/jquery-1.8.0.min.js"></script>
<script src="js/new/blog.js"></script>
<script src="js/new/andro.js"></script>
<script src="js/jquery.knob.js"></script>
<script src="js/jquery.throttle.js"></script>
<script src="js/jquery.classycountdown.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#countdown15').ClassyCountdown({
            theme: "flat-colors",
            end: $.now() + 10000
        });
        $('#countdown16').ClassyCountdown({
            theme: "flat-colors-wide",
            end: $.now() + 10000
        });
        $('#countdown17').ClassyCountdown({
            theme: "flat-colors-very-wide",
            end: $.now() + 10000
        });
        $('#countdown18').ClassyCountdown({
            theme: "flat-colors-black",
            end: $.now() + 10000
        });
        $('#countdown1').ClassyCountdown({
            theme: "white",
            end: $.now() + 645600
        });
        $('#countdown5').ClassyCountdown({
            theme: "white",
            end: $.now() + 10000
        });
        $('#countdown6').ClassyCountdown({
            theme: "white-wide",
            end: $.now() + 10000
        });
        $('#countdown7').ClassyCountdown({
            theme: "white-very-wide",
            end: $.now() + 10000
        });
        $('#countdown8').ClassyCountdown({
            theme: "white-black",
            end: $.now() + 10000
        });
        $('#countdown11').ClassyCountdown({
            labels: true,
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#1abc9c",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                hours: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#2980b9",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                minutes: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#8e44ad",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                seconds: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#f39c12",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                }

            },
            end: $.now()/1000,
//            now: '1589040000'
            now: '1589472000'

        });
        $('#countdown12').ClassyCountdown({
            theme: "black-wide",
            labels: false,
            end: $.now() + 10000
        });
        $('#countdown13').ClassyCountdown({
            theme: "black-very-wide",
            labelsOptions: {
                lang: {
                    days: 'D',
                    hours: 'H',
                    minutes: 'M',
                    seconds: 'S'
                },
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            end: $.now() + 10000
        });
        $('#countdown14').ClassyCountdown({
            theme: "black-black",
            labelsOptions: {
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            end: $.now() + 10000
        });
        $('#countdown4').ClassyCountdown({
            end: $.now() + 10000,
            labels: true,
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#1abc9c"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                },
                hours: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#2980b9"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                },
                minutes: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#8e44ad"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                },
                seconds: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#f39c12"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown2').ClassyCountdown({
            end: '1388468325',
            now: '1378441323',
            labels: true,
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#1abc9c"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                hours: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#2980b9"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                minutes: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#8e44ad"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                seconds: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#f39c12"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown9').ClassyCountdown({
            end: '1388468325',
            now: '1380501323',
            labels: true,
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#1abc9c",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                hours: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#2980b9",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                minutes: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#8e44ad",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                seconds: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#f39c12",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown10').ClassyCountdown({
            end: '1397468325',
            now: '1388471324',
            labels: true,
            labelsOptions: {
                lang: {
                    days: 'D',
                    hours: 'H',
                    minutes: 'M',
                    seconds: 'S'
                },
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                hours: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                minutes: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                seconds: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown3').ClassyCountdown({
            end: '1390868325',
            now: '1388461323',
            labels: true,
            labelsOptions: {
                lang: {
                    days: 'Zile',
                    hours: 'Ore',
                    minutes: 'Minute',
                    seconds: 'Secunde'
                },
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                hours: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                minutes: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                seconds: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
    });

    function DateToUnix (string) {
        var f = string.split(' ', 2);
        var d = (f[0] ? f[0] : '').split('-', 3);
        var t = (f[1] ? f[1] : '').split(':', 3);
        return (new Date(
            parseInt(d[0], 10) || null,
            (parseInt(d[1], 10) || 1) - 1,
            parseInt(d[2], 10) || null,
            parseInt(t[0], 10) || null,
            parseInt(t[1], 10) || null,
            parseInt(t[2], 10) || null
        )).getTime();
    }
</script>