<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" /><!--CSS RESET-->
    <link rel="stylesheet" type="text/css" href="../css/login.css" />

    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.classycountdown.css" />

    <script src="../js/jquery-1.8.0.min.js"></script>
    <script src="js/jquery.knob.js"></script>
    <script src="js/jquery.throttle.js"></script>
    <script src="js/jquery.classycountdown.js"></script>
</head>
<style>

    body{
        overflow:hidden;
    }
    div.background{
        position:absolute;
        width:100%;
        height:100%;
        background-image:url('../img/4.jpg');
        background-repeat:no-repeat;
        background-size:100% 100%;

    }
</style>
<style>
    .ClassyCountdownDemo { margin:0 auto 30px auto; max-width:800px; width:calc(100%); padding:30px; display:block }
    #countdown2 { background:#FFF }
    #countdown3 { background:rgb(52, 73, 94) }
    #countdown4 { background:#222 }
    #countdown5 { background:#222 }
    #countdown6 { background:#222 }
    #countdown7 { background:#222 }
    #countdown8 { background:#222 }
    #countdown9 { background:#FFF }
    #countdown10 { background:#3498db }
</style>
<body>
<div class="background">
    <span>距C&Z相恋还有：</span>
    <div id="countdown11" class="ClassyCountdownDemo" style="padding-top: 10px"></div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $('#countdown15').ClassyCountdown({
            theme: "flat-colors",
            end: $.now() + 10000
        });
        $('#countdown16').ClassyCountdown({
            theme: "flat-colors-wide",
            end: $.now() + 10000
        });
        $('#countdown17').ClassyCountdown({
            theme: "flat-colors-very-wide",
            end: $.now() + 10000
        });
        $('#countdown18').ClassyCountdown({
            theme: "flat-colors-black",
            end: $.now() + 10000
        });
        $('#countdown1').ClassyCountdown({
            theme: "white",
            end: $.now() + 645600
        });
        $('#countdown5').ClassyCountdown({
            theme: "white",
            end: $.now() + 10000
        });
        $('#countdown6').ClassyCountdown({
            theme: "white-wide",
            end: $.now() + 10000
        });
        $('#countdown7').ClassyCountdown({
            theme: "white-very-wide",
            end: $.now() + 10000
        });
        $('#countdown8').ClassyCountdown({
            theme: "white-black",
            end: $.now() + 10000
        });
        $('#countdown11').ClassyCountdown({
            theme: "black",
            style: {
                secondsElement: {
                    gauge: {
                        fgColor: "#F00"
                    }
                }
            },
            end: '1589472000',
            now: $.now()/1000

        });
        $('#countdown12').ClassyCountdown({
            theme: "black-wide",
            labels: false,
            end: $.now() + 10000
        });
        $('#countdown13').ClassyCountdown({
            theme: "black-very-wide",
            labelsOptions: {
                lang: {
                    days: 'D',
                    hours: 'H',
                    minutes: 'M',
                    seconds: 'S'
                },
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            end: $.now() + 10000
        });
        $('#countdown14').ClassyCountdown({
            theme: "black-black",
            labelsOptions: {
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            end: $.now() + 10000
        });
        $('#countdown4').ClassyCountdown({
            end: $.now() + 10000,
            labels: true,
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#1abc9c"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                },
                hours: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#2980b9"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                },
                minutes: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#8e44ad"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                },
                seconds: {
                    gauge: {
                        thickness: .03,
                        bgColor: "rgba(255,255,255,0.05)",
                        fgColor: "#f39c12"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#fff;'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown2').ClassyCountdown({
            end: '1388468325',
            now: '1378441323',
            labels: true,
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#1abc9c"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                hours: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#2980b9"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                minutes: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#8e44ad"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                seconds: {
                    gauge: {
                        thickness: .01,
                        bgColor: "rgba(0,0,0,0.05)",
                        fgColor: "#f39c12"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown9').ClassyCountdown({
            end: '1388468325',
            now: '1380501323',
            labels: true,
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#1abc9c",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                hours: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#2980b9",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                minutes: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#8e44ad",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                },
                seconds: {
                    gauge: {
                        thickness: .05,
                        bgColor: "rgba(0,0,0,0)",
                        fgColor: "#f39c12",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:#34495e;'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown10').ClassyCountdown({
            end: '1397468325',
            now: '1388471324',
            labels: true,
            labelsOptions: {
                lang: {
                    days: 'D',
                    hours: 'H',
                    minutes: 'M',
                    seconds: 'S'
                },
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                hours: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                minutes: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                seconds: {
                    gauge: {
                        thickness: .02,
                        bgColor: "rgba(255,255,255,0.1)",
                        fgColor: "rgba(255,255,255,1)",
                        lineCap: 'round'
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
        $('#countdown3').ClassyCountdown({
            end: '1390868325',
            now: '1388461323',
            labels: true,
            labelsOptions: {
                lang: {
                    days: 'Zile',
                    hours: 'Ore',
                    minutes: 'Minute',
                    seconds: 'Secunde'
                },
                style: 'font-size:0.5em; text-transform:uppercase;'
            },
            style: {
                element: "",
                textResponsive: .5,
                days: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                hours: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                minutes: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                },
                seconds: {
                    gauge: {
                        thickness: .2,
                        bgColor: "rgba(255,255,255,0.2)",
                        fgColor: "rgb(241, 196, 15)"
                    },
                    textCSS: 'font-family:\'Open Sans\'; font-size:25px; font-weight:300; color:rgba(255,255,255,0.7);'
                }

            },
            onEndCallback: function() {
                console.log("Time out!");
            }
        });
    });

    function DateToUnix (string) {
        var f = string.split(' ', 2);
        var d = (f[0] ? f[0] : '').split('-', 3);
        var t = (f[1] ? f[1] : '').split(':', 3);
        return (new Date(
            parseInt(d[0], 10) || null,
            (parseInt(d[1], 10) || 1) - 1,
            parseInt(d[2], 10) || null,
            parseInt(t[0], 10) || null,
            parseInt(t[1], 10) || null,
            parseInt(t[2], 10) || null
        )).getTime();
    }
</script>
</html>